<app-navbar-view></app-navbar-view><br><br><br>
<div class="container">
    <section id="main"><br><br>
        <div class="row my-5"><br><br>
            <div class="col-md-8 col-xs-8">
                <div class="name-custom">
                    <h1>Hola , <span class="subname-custom">soy Dilmer</span></h1>
                </div>
                <p class="text-custom">Desarrollador Fullstack</p>
                <p class="text-custom2">+4 años de experiencia. <span class="txt-info">Ingeniero de Sistemas en
                        formación y
                        Desarrollador móvil</span>. Especializado en crear
                    soluciones web y moviles
                    robustas.</p>
                <a href="https://www.linkedin.com/in/dilmer-ramirez23" target="_blank">
                    <button class="btn btn-custom m-3" href="https://www.linkedin.com/in/dilmer-ramirez23"
                        target="_blank">
                        <i class="fa-brands fa-linkedin"></i> Linkedln</button>
                </a>
                <a href="mailto:dilmertiguas@gmail.com">
                    <button class="btn btn-custom m-3">
                        <i class="fas fa-envelope"></i> dilmertiguas@gmail.com</button>
                </a>
            </div>
            <div class="col-md-4 mt-5">
                <img class="img-fluid container_img" src="../../../assets/img/web/dilmer_R.jpg" alt="">
            </div>
        </div>
    </section><br><br><br><br>

    <section id="experience" class="mt-3">
        <article>
            <div class="container experiencia-container">
                <h2><i class="fa-solid fa-briefcase"></i> Experiencia Laboral</h2>
                <!-- item 1 -->
                <ul class="relative border-left custom-list">
                    <i class="fa fa-circle"></i>
                    <li class="custom-list">
                        <span class="alig-center">
                        <h3 class="txt-sub-exper">Programador Mobile -
                            ProximateApps
                        </h3>
                        <p >Agosto 2023 - Presente</p>
                        <p>Encargado de desarrollar soluciones web y móvile del sector de la salud de médicina
                            prepagada
                            del
                            pais
                            "Colombia", encragado de realizar manteniento y desarrollo de nuevas funcionalidades</p>
                        </span>    
                    </li>
                    <i class="fa fa-circle"></i>
                    <li class="custom-list">
                        <!-- item2 -->
                        <span class="alig-center">
                            <h3 class="txt-sub-exper"> Desarrollador Mobile -
                                INTEREDES.S.A.S
                            </h3>
                            <p>Agosto 2021 – Agosto 2023</p>
                            <p>Mantenimiento de app Móvil SAMI "Sistema administrativo móvil inteligente" de la
                                electrificadora
                                del
                                Huila , Desarrollo de nuevas funcionalidades en todos lo modulos de aplicación
                            </p>
                        </span>
                    </li>
                    <i class="fa fa-circle"></i>
                    <li class="custom-list">
                        <!-- item3 -->
                        <span class="alig-center">
                            <h3 class="txt-sub-exper"> Desarrollador - CANO'S
                                SOLUCIONES
                                TECNOLOGICAS S.A.S</h3>
                            <p>Agosto 2020 – Agosto 2021</p>
                            <p>Mantenimiento de Aplicativos del sector finacieros , y micro servicios de distintas app
                                administradas
                                por
                                la compañia , desarrollo de nuevas funcionalidad en distintas aplicaciones web
                            </p>
                        </span>
                    </li>
                    <i class="fa fa-circle"></i>
                    <li class="custom-list">
                        <!-- item 4 -->
                        <span class="alig-center">
                            <h3 class="txt-sub-exper"> Desarrollador mobile -
                                Servicio
                                nacional de apredizaje SENA</h3>
                            <p>julio 2019 – diciembre 2019</p>
                            <p>Desarrollo de app movile , para la determinación de estados acuferos del Huila por
                                indicadores de
                                macro
                                invertebrados
                            </p>
                        </span>
                    </li>
                </ul>
            </div>
        </article>
    </section>
    <section id="skill" class="mt-5">
        <app-professional-skill></app-professional-skill>
    </section>
    <section id="about" class="mt-5">
        <app-about></app-about>
    </section>
</div>