<div class="section-container">
  <h2 class="section-title fade-in">
    <i class="fa-solid fa-kitchen-set"></i>
    <span>Skill</span>
  </h2>

  <div class="skill-grid">
    <div class="skill-category glass-card fade-in stagger-1">
      <div class="skill-category-header">
        <div class="skill-icon frontend">
          <i class="fa-solid fa-code"></i>
        </div>
        <h3>Frontend</h3>
      </div>
      <div class="skill-tags">
        <span class="skill-tag">HTML5</span>
        <span class="skill-tag">CSS3</span>
        <span class="skill-tag">JavaScript</span>
        <span class="skill-tag">Angular</span>
        <span class="skill-tag">Bootstrap</span>
        <span class="skill-tag">Flutter</span>
         <span class="skill-tag">Kotlin</span>
          <span class="skill-tag">Java Android</span>
           <span class="skill-tag">Jetpack Compose</span>
            <span class="skill-tag">UiKit</span>
      </div>
    </div>

    <div class="skill-category glass-card fade-in stagger-2">
      <div class="skill-category-header">
        <div class="skill-icon backend">
          <i class="fa-solid fa-server"></i>
        </div>
        <h3>Backend</h3>
      </div>
      <div class="skill-tags">
        <span class="skill-tag">Node.js</span>
        <span class="skill-tag">Java</span>
        <span class="skill-tag">PHP</span>
        <span class="skill-tag">Laravel</span>
        <span class="skill-tag">MySQL</span>
        <span class="skill-tag">Firebase</span>
      </div>
    </div>
  </div>
</div>
