<div class="container about-container">
    <div class="row">
        <div>
            <h2> <i class="fa-solid fa-user"></i> Sobre mí</h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><br><br>
            <p>
                Hola 🖖, soy Dilmer Ramirez, estudiante de ingenieria de sistema y Desarrollador fullStack. Inicie en la
                la programación como un hobby hace poco más de 4 años. Hoy estoy Desarrollado aplicaciones móviles
            </p>

            <p>
                Entre mis logros destaco el desarrollo e implementación de estándares de código y metodologías de
                desarrollo en e.col , logrando así garantizar la calidad del código y un flujo de trabajo efectivo
                en el equipo
            </p>
            <p>
                Por último, comparto mi hoja de vida actualizada, donde de manera más detallada específico mi
                experiencia laboral, logros y formación académica.
            </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img class="img-fluid container_img" src="../../../assets/img/web/dilmer_R.jpg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="https://drive.google.com/file/d/1sw-OS-Wnr62np9kwdHEFdHCKhA559OG1/view?usp=drive_link" target="_blank">
                <button class="btn btn-custom m-3">
                    <i class="fa-solid fa-file"></i> Descargar cv</button>
            </a>
        </div>
    </div>
</div>