<div class="container-fluid">
    <section>
        <div class="card-img-overlay">
            <img src="../../../assets/img/pruebas/prueba1.jpg" alt="">
            <h5 class="card-title">Card title</h5>
        </div>
        <img src="../../../assets/img/pruebas/prueba2.jpg" alt="">
        <img src="../../../assets/img/pruebas/prueba1.jpg" alt="">
        <img src="../../../assets/img/pruebas/prueba2.jpg" alt="">
        <img src="../../../assets/img/pruebas/prueba1.jpg" alt="">
    </section>
</div>