<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col item_footer">
                <a class="nav-link" href="#main">Home</a>
            </div>

            <div class="col item_footer">
                <a class="nav-link" href="#about">About</a>
            </div>

            <div class="col item_footer">
                <a class="nav-link" href="#skill">Skill</a>
            </div>
            <div class="col item_footer">
              
                    <a class="nav-link" href="https://github.com/dilmer23" target="_blank"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by
                    Dilmer R 🖖
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Inspirado en portafolio web <a href="https://porfolio.dev/">porfolio.dev</a>
                    de midudev </p>
            </div>
        </div>
    </div>
</footer>