.container-main-navbar{
    position: fixed;
    align-items: center;
    align-content: center;
    background-color: transparent !important;
    color: transparent;
}
.navbar {
    background-color: transparent !important;
    border: none; /* Sin borde */
  }
  .navbar-nav {
    margin: auto;
  }
  .nav-link {
    color: white !important; /* Color blanco para el texto */
    border-radius: 20px;
  }
  .nav-item {
    border-radius: 20px;
    font-size: 22px;
    margin-right: 30px; /* Ajusta el margen derecho según lo desees */
    margin-left: 30px; /* Ajusta el margen izquierdo según lo desees */
  }.nav-link:hover{
    color: rgb(0, 134, 212) !important;
    border-radius: 20px;
  }