.container-main-navbar{
    position: fixed;
    align-items: center;
    align-content: center;
    background-color:var(--backgroud-navbar);
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(12px);
}
.navbar {
    background-color: transparent !important;
    border: none;
  }
  .navbar-nav {
    margin: auto;
  }
  .nav-link {
    color: var(--font-color) !important;
    border-radius: 20px;
  }
  .nav-item {
    border-radius: 20px;
    font-size: 22px;
   
  }.nav-link:hover{
    color: rgb(0, 134, 212) !important;
    border-radius: 20px;
  }
  .custom-nav-bar{
    color: white;
  }